/*Site Color Pallete:
	white: #fff;
	light grey: #e3e3e3;
	dark grey: #555;
	green: #91c22b ;
	headers: #555;
	para: #fff;
*/

body, html {
	padding: 0;
	margin: 0;
	font-size: 10px;
	font-family: 'rawline', sans-serif;
	overflow-x: hidden;
	box-sizing: border-box;
}

/*BEGIN CUSTOM SCROLLBAR STYLING*/

/* width */
body::-webkit-scrollbar {
    width: 7px;
}

/* Track */
body::-webkit-scrollbar-track {
    background: #e3e3e3; 
    border-radius: 55px;
    
}

body::-webkit-scrollbar-button {
	display: none;
}

/* Handle */
body::-webkit-scrollbar-thumb {
    background: #91c22b; 
    border-radius: 55px;
    
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
    background: #91c22b; 
    border-radius: 55px;
}

body::-webkit-scrollbar-corner {
    background: #91c22b; 
    border-radius: 55px;
}

/*BEGIN NAV SECTION*/

.navbar {
	background-color: rgba(85,85,85, .85);
	box-shadow: 2px 2px 2px rgba(0,0,0,.5);
}

.logo::before {
	content: '';
	background-color: #91c22b;
	height: 100%;
	width: 50%;
	position: absolute;
	top: 0;
	left: -1.1rem;
	transform: skew(-20deg);
	z-index: 2;
}


.navbar-brand {
	z-index: 3;
}

.navbar-brand img {
	float: right;
 	height: 4.5rem;
}

.navbar-toggler {
	display: none;
}

.nav-item {
	padding-right: 3.5rem;
}

.nav-link {
	font-weight: 500;
	font-size: 1.5rem;
	color: #fff;
}

.nav-link:hover {
	color: #91c22b;
}

/*BEGIN CAROUSEL SECTION*/


#carousel-main {
  	height: 70rem;
  	overflow-y: hidden;
}

/*BEGIN PHONE INFO CTA SECTION*/

.cta {
	height: auto;
	background-color: #555; 
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.cta span {
	color: #91c22b ;
}

.cta h4 {
	font-size: 3rem;
	color: #fff;
	font-weight: 600;

}

/*BEGIN MISSION SECTION*/

.mission {
	height: auto;
	background-color: #91c22b;
	background-image: url(../assets/missionpattern.png);
	background-position: center;
	background-repeat: no-repeat;
	background-blend-mode: multiply;
	padding-top: 7.4rem;
	padding-bottom: 7.4rem;
}

.missionmain {
	text-align: center;
	height: auto;
	/*width: 50%;*/
	border: 4px solid #555;
	border-radius: .25rem;
	
	padding-bottom: 3rem;
}

.missionmain h3 {
	display: inline-block;
	margin-top: -3rem;
	font-size: 4rem;
	font-weight: 700;
	color: #555;
	background-color: #91c22b;
	text-align: center;
	padding-right: .5rem;
	padding-left: .5rem;
}

.missionmain p {
	font-size: 2.75rem;
	line-height: 5rem;
	color: #fff;
	padding: .75rem 6.5rem 0 6.5rem;
}

/*BEGIN CATALOG CTA SECTION*/

.catalog {
	background-color: rgba(85,85,85,.95);
	background-blend-mode: multiply;
	min-height: 40rem;
	background-image: url(../assets/catalogback.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	text-align: center;
	position: relative;
	margin: 0 auto;
}

.catalogcenter {
	min-height: 100%;
	margin: 0 auto;
	position: relative;
}

.catalog a {
	max-width: 50%;
	min-height: 40rem;
	cursor: pointer;
	float: left;
}

.catalog a img {
	max-width: 100%;
	padding: 4rem;
}

.catalogcenter p {
	max-width: 50%;
	font-size: 4rem;
	font-weight: 600;
	color: #fff;
	position: absolute;
	top: 45%;
	right: 2%;
	margin-bottom: 0;
}

.catalog span {
	color: #91c22b;
	padding-right: .25rem;
}

/*BEGIN SERVICES SECTION*/

.services {
	height: auto;
	background-color: #e3e3e3;
	background-image: url(../assets/servicespattern.png);
	background-position: center ;
	background-blend-mode: multiply;
	padding-top: 7.4rem;
	padding-bottom: 5.4rem;
}

.servicesmain {
	text-align: center;
	height: auto;
	border: 4px solid #91c22b;
	border-radius: .25rem;
	padding-bottom: 3rem;
}

.servicesmain h3 {
	display: inline-block;
	margin-top: -3rem;
	font-size: 4rem;
	font-weight: 700;
	color: #91c22b;
	background-color: #e3e3e3;
	text-align: center;
	padding-right: .5rem;
	padding-left: .5rem;
}

.servicesmain p {
	font-size: 2.75rem;
	line-height: 5rem;
	color: #555;
	padding: .75rem 6.5rem 0 6.5rem;
}

.servicecolumn {
	width: 100%;
	margin: 0 auto;
}

.servicelist ul{
	width: 100%;
	list-style-type: none;
	margin: 0 auto;
	padding-left: 1rem;
	padding-top: 3rem;
	padding-bottom: 1rem;
}

.servicelist li {
	text-align: center;
	padding-bottom: 1.5rem;
}

.servicelist img {
	display: block;
	margin: 0 auto;
	height: 90px;
}

.servicelist h4 {
	display: block;
	font-size: 2.5rem;
	padding-top: 2rem;
}


/*BEGIN CONTACT SECTION*/

.contact {
	background-color: rgba(85,85,85,.85);
	background-blend-mode: multiply;
	min-height: 40rem;
	background-image: url(../assets/contactback.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	position: relative;
}

.contactinfo {
	position: absolute;
	top: 10%;
	left: 50%;
	transform: translateX(-50%);
}

.contactinfo span {
	color: #91c22b;
}

.contactinfo h2 {
	font-size: 4rem;
	color: #fff;
	font-weight: 600;
	padding-bottom: 1rem;
}

.contactinfo p {
	font-size: 3rem;
	color: #fff;
	font-weight: 600;
}

.fa-5x {
	color: #91c22b;
}

/*BEGIN FOOTER SECTION*/

#footer {
	height: 6rem;
	background-color: #555; 
	position: relative;
}

#footer img{
	height: 4rem;
	position: absolute;
	top: 1rem;
}

#footer p {
	padding-top: 2.5rem;
	color: #fff;
	font-size: 1.4rem;
	float: right;
}

/*---------------------------------------*/

/*BEGIN MEDIA QUERY STYLES*/

@media screen and (max-width: 481px){

.navbar {
	background-color: #91c22b;
}

/*BEGIN PHONE INFO CTA SECTION*/


.cta span {
	display: none;
}

.cta h4 {
	font-size: 2.45rem;
}

/*BEGIN MISSION SECTION*/

.mission {
	padding: 6rem 2rem 6rem 2rem;
}

.missionmain {
	padding-bottom: 3rem;
}

.missionmain p {
	font-size: 1.75rem;
	line-height: 3rem;
	padding: .75rem 3.5rem 0 3.5rem;
}

/*BEGIN CATALOG CTA SECTION*/

.catalogmain {
	margin-bottom: 4rem;
}

.catalogcenter {
	width: 100%;
	/*margin-bottom: 2rem;*/
}

.catalog a {
	min-height: 100%;
	min-width: 100%;
	cursor: pointer;
	padding-top: 1rem;

}

.catalog a img {
	max-width: 90%;
	padding: 2rem;
	margin-bottom: 2rem;
}

.catalogcenter p {
	min-width: 100%;
	font-size: 2.5rem;
	font-weight: 600;
	color: #fff;
	top: 95%;
	right: 0;
	
}

.catalog span {
	display: none;
}

/*BEGIN SERVICES SECTION*/

.services {
	padding: 6rem 1rem 6rem 1rem
}

.servicesmain {
	padding-bottom: 3rem;
}

.servicesmain p {
	font-size: 1.75rem;
	line-height: 3rem;
	padding: .75rem 3.75rem 0 3.75rem;
}

/*BEGIN CONTACT SECTION*/

.contactinfo {
	position: absolute;
	top: 15%;
	left: 50%;
	transform: translateX(-50%);
}

.contactinfo span {
	display: none;
}

.contactinfo h2 {
	font-size: 3.5rem;
	color: #fff;
	font-weight: 600;
	padding-bottom: 1rem;
}

.contactinfo p {
	font-size: 2.5rem;
	color: #fff;
	font-weight: 600;
}

.fa-5x {
	color: #91c22b;
}

/*BEGIN FOOTER SECTION*/


#footer {
	height: auto;
	margin: 0 auto;
}

#footer img{
	display: block;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	
	height: 4rem;
	margin-top: 1rem;
}

#footer p {
	display: block;
	text-align: center;
	color: #fff;
	font-size: 1.4rem;
	margin-top: 3.5rem;
	float: none;
}

}

/*------------------------------------------*/

@media screen and (min-width: 482px) and (max-width: 760px){



/*BEGIN PHONE INFO CTA SECTION*/

.cta h4 {
	font-size: 2.45rem;
}

/*BEGIN MISSION SECTION*/

.mission {
	padding: 6rem 1rem 6rem 1rem;
}

.missionmain {
	padding-bottom: 3rem;
}

.missionmain p {
	font-size: 2.25rem;
	line-height: 3.25rem;
	padding: .75rem 2.5rem 0 2.5rem;
}

/*BEGIN CATALOG CTA SECTION*/

.catalogmain {
	margin-bottom: 4rem;
}

.catalogcenter {
	width: 100%;
	/*margin-bottom: 2rem;*/
}

.catalog a {
	min-height: 100%;
	min-width: 100%;
	cursor: pointer;
	padding-top: 1rem;

}

.catalog a img {
	max-width: 80%;
	padding: 2rem;
	margin-bottom: 2rem;
}

.catalogcenter p {
	min-width: 100%;
	font-size: 3rem;
	font-weight: 600;
	color: #fff;
	top: 95%;
	right: 0;
	
}

.catalog span {
	display: none;
}

/*BEGIN SERVICES SECTION*/


.services {
	padding: 6rem 1rem 6rem 1rem
}

.servicesmain {
	padding-bottom: 3rem;
}

.servicesmain p {
	font-size: 2.25rem;
	line-height: 3.25rem;
	padding: .75rem 3.75rem 0 3.75rem;
}

/*BEGIN CONTACT SECTION*/

.contactinfo {
	position: absolute;
	top: 15%;
	left: 50%;
	transform: translateX(-50%);
}

.contactinfo span {
	display: none;
}

.contactinfo h2 {
	font-size: 3.5rem;
	color: #fff;
	font-weight: 600;
	padding-bottom: 1rem;
}

.contactinfo p {
	font-size: 2.5rem;
	color: #fff;
	font-weight: 600;
}

.fa-5x {
	color: #91c22b;
}

/*BEGIN FOOTER SECTION*/


#footer {
	height: auto;
	margin: 0 auto;
}

#footer img{
	display: block;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	
	height: 4rem;
	margin-top: 1rem;
}

#footer p {
	display: block;
	text-align: center;
	color: #fff;
	font-size: 1.4rem;
	margin-top: 3.5rem;
	float: none;
}

}

/*------------------------------------------*/

@media screen and (min-width: 761px) and (max-width: 991px){

/*BEGIN CATALOG CTA SECTION*/

.catalogmain {
	margin-bottom: 2rem;
}

.catalogcenter {
	width: 100%;
}

.catalog a {
	max-width: 60%;
	cursor: pointer;
	padding-top: 1rem;
}

.catalog a img {
	max-width: 90%;
	padding: 1rem;
	margin-bottom: 2rem;
}

.catalogcenter p {
	max-width: 40%;
	font-size: 3rem;
	font-weight: 600;
	color: #fff;
	top: 40%;
	right: 3%;
	text-align: right;
}

.catalog span {
	color: #91c22b;
	padding-right: .25rem;
}

}

/*---------------------------------------*/

@media screen and (min-width: 992px) and (max-width: 1199px){

.catalogcenter p {
	max-width: 40%;
	font-size: 4rem;
	font-weight: 600;
	color: #fff;
	top: 35%;
	right: 6%;
	text-align: right;
}

}

/*END MEDIA QUERY STYLING*/