/*Site Color Pallete:
	white: #fff;
	light grey: #e3e3e3;
	dark grey: #555;
	green: #91c22b ;
	headers: #555;
	para: #fff;
*/

body, html {
	padding: 0;
	margin: 0;
	font-size: 10px;
	font-family: 'rawline', sans-serif;
	overflow-x: hidden;
	box-sizing: border-box;
}

/*BEGIN CUSTOM SCROLLBAR STYLING*/

/* width */
body::-webkit-scrollbar {
    width: 7px;
}

/* Track */
body::-webkit-scrollbar-track {
    background: #e3e3e3; 
    border-radius: 55px;
    
}

body::-webkit-scrollbar-button {
	display: none;
}

/* Handle */
body::-webkit-scrollbar-thumb {
    background: #91c22b; 
    border-radius: 55px;
    
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
    background: #91c22b; 
    border-radius: 55px;
}

body::-webkit-scrollbar-corner {
    background: #91c22b; 
    border-radius: 55px;
}

/*BEGIN NAV SECTION*/

.navbar {
	background-color: rgba(85,85,85, .85);
	box-shadow: 2px 2px 2px rgba(0,0,0,.5);
}

.logo::before {
	content: '';
	background-color: #91c22b;
	height: 100%;
	width: 50%;
	position: absolute;
	top: 0;
	left: -1.1rem;
	transform: skew(-20deg);
	z-index: 2;
}


.navbar-brand {
	z-index: 3;
}

.navbar-brand img {
	float: right;
 	height: 4.5rem;
}

.navbar-toggler {
	display: none;
}

.nav-item {
	padding-right: 3.5rem;
}

.nav-link {
	font-weight: 500;
	font-size: 1.5rem;
	color: #fff;
}

.nav-link:hover {
	color: #91c22b;
}

/*BEGIN CAROUSEL SECTION*/


#carousel-main {
  	height: 70rem;
  	overflow-y: hidden;
}

/*BEGIN PHONE INFO CTA SECTION*/

.cta {
	height: auto;
	background-color: #555; 
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.cta span {
	color: #91c22b ;
}

.cta h4 {
	font-size: 3rem;
	color: #fff;
	font-weight: 600;

}

/*BEGIN MISSION SECTION*/

.mission {
	height: auto;
	background-color: #91c22b;
	background-image: url(../assets/missionpattern.png);
	background-position: center;
	background-blend-mode: multiply;
	padding-top: 7.4rem;
	padding-bottom: 7.4rem;
}

.missionmain {
	text-align: center;
	height: auto;
	/*width: 50%;*/
	border: 4px solid #555;
	border-radius: .25rem;
	
	padding-bottom: 3rem;
}

.missionmain h3 {
	display: inline-block;
	margin-top: -3rem;
	font-size: 4rem;
	font-weight: 700;
	color: #555;
	background-color: #91c22b;
	text-align: center;
	padding-right: .5rem;
	padding-left: .5rem;
}

.missionmain p {
	font-size: 2.75rem;
	line-height: 5rem;
	color: #fff;
	padding: .75rem 6.5rem 0 6.5rem;
}

/*BEGIN CATALOG CTA SECTION*/

.catalog {
	background-color: rgba(85,85,85,.95);
	background-blend-mode: multiply;
	height: 40rem;
	background-image: url(../assets/catalogback.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	text-align: center;
	position: relative;
	border: 3px solid pink;
}

.catalogcenter {
	width: 90%;
	height: 100%;
	margin: 0 auto;
	border:3px solid purple;
	position: relative;
}

.catalog img {
	max-width: 35%;
	height: auto;
	cursor: pointer;
	float: left;
	border: 1px solid red;
}

.catalog p {
	width: 30%;
	font-size: 4rem;
	font-weight: 600;
	color: #fff;
	position: absolute;
	top: 40%;
	right: 0;
	float: right;
}

.catalog span {
	color: #91c22b;
	padding-right: .25rem;
}

/*BEGIN SERVICES SECTION*/

.services {
	height: 100rem;
	background-color: #e3e3e3;
	background-image: url(../assets/servicespattern.png);
	background-position: center ;
	background-blend-mode: multiply;
	padding-top: 7.4rem;
	padding-bottom: 5.4rem;
}

.servicesmain {
	text-align: center;
	height: auto;
	border: 4px solid #91c22b;
	border-radius: .25rem;
	padding-bottom: 3rem;
}

.servicesmain h3 {
	display: inline-block;
	margin-top: -3rem;
	font-size: 4rem;
	font-weight: 700;
	color: #91c22b;
	background-color: #e3e3e3;
	text-align: center;
	padding-right: .5rem;
	padding-left: .5rem;
}

.servicesmain p {
	font-size: 2.75rem;
	line-height: 5rem;
	color: #555;
	padding: .75rem 6.5rem 0 6.5rem;
}

/*BEGIN CONTACT SECTION*/

.contact {
	background-color: rgba(85,85,85,.85);
	background-blend-mode: multiply;
	min-height: 40rem;
	background-image: url(../assets/contactback.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	position: relative;
}

.contactinfo {
	position: absolute;
	top: 10%;
	left: 50%;
	transform: translateX(-50%);
}

.contactinfo span {
	color: #91c22b;
}

.contactinfo h2 {
	font-size: 4rem;
	color: #fff;
	font-weight: 600;
	padding-bottom: 1rem;
}

.contactinfo p {
	font-size: 3rem;
	color: #fff;
	font-weight: 600;
}

.fa-5x {
	color: #91c22b;
}

/*BEGIN FOOTER SECTION*/

footer {
	height: 6rem;
	background-color: #555; 
	position: relative;
}

footer img{
	height: 4rem;
	position: absolute;
	top: 1rem;
}

footer p {
	padding-top: 2.5rem;
	color: #fff;
	font-size: 1.4rem;
	float: right;
}